VIDU_API_KEY=vda_952438315682893824_HN2au3sbULGj5AVL0OvT3hiqGn8Cgqav 
VIDU_IMAGE_CREATE_URL=https://api.vidu.cn/ent/v2/reference2image
VIDU_TASK_CREATIONS_URL_TEMPLATE=https://api.vidu.cn/ent/v2/tasks/{id}/creations
VIDU_IMAGE_MODEL=viduimage-2
VIDU_IMAGE_RESOLUTION=2K
VIDU_IMAGE_QUALITY=medium
VIDU_IMAGE_ASPECT_RATIO=16:9
VIDU_EXTRA_BODY_JSON={}
VIDU_POLL_INTERVAL_MS=5000
VIDU_TIMEOUT_MS=600000
