packages/markitdown/tests/test_files/** linguist-vendored
packages/markitdown-sample-plugin/tests/test_files/** linguist-vendored

# Treat PDF files as binary to prevent line ending conversion
*.pdf binary
